@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
 font-family: 'en-karla';
 src: url('/assets/fonts/Karla-VariableFont_wght.ttf') format('ttf');
 font-style: normal;
}

@font-face {
 font-family: 'en-karla';
 src: url('/assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('ttf');
 font-style: italic;
}

@font-face {
 font-family: 'en-karla';
 src: url('/assets/fonts/static/Karla-Bold.ttf') format('ttf');
 font-style: normal;
 font-weight: bold;
}

@font-face {
 font-family: 'en-karla';
 src: url('/assets/fonts/static/Karla-Regular.ttf') format('ttf');
 font-style: normal;
}

body {
 font-family: theme(fontFamily[en-karla]);
}
